.about-bg {
  /* width: 1240px; */
  height: 223px;
  margin: 20px auto;
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/about-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 90vw;
}
.containerDropdown {
  width: 75vw;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .containerDropdown {
    margin: 0 auto;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .containerDropdown {
    width: 85vw;
    padding-right: 40px;
  }
}
