.dropdown-menu {
  font-size: 24px;
  position: relative;
  padding: 10px 20px;
  width: 100%;
  margin: 40px auto 0 auto;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-title {
  width: 100%;
}
.text-dropdown {
  padding: 0.5px 20px;
  width: 100%;
  margin: 0 auto;
  color: #ff6060;
  background-color: #f7f7f7;
  font-size: 24px;
  border-radius: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
