.kasa-footer {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin: 100px 0 0 0;
}
.kasa-footer img {
  width: 150px;
  display: block;
  margin: 50px auto;
}
.kasa-footer p {
  color: white;
  font-size: 24px;
  text-align: center;
}
