.lightbox-img img {
  max-width: 1500px;
  object-fit: cover;
  width: 90vw;
  height: 415px;
  border-radius: 25px;
}
.lightbox-img {
  position: relative;
}
.fa-chevron-right {
  position: absolute;
  right: 0px;
}
.lightbox-img i {
  font-size: 80px;
}
.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  color: white;
  top: 180px;
}

@media screen and (min-width: 1441px) {
  .fa-chevron-left,
  .fa-chevron-right {
    position: absolute;
    top: 200px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .lightbox-img img {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .lightbox-img img {
    width: 90vw;
  }

  .lightbox-img i {
    font-size: 60px;
  }
}
