.lightbox-img img {
  object-fit: cover;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}
.lightbox-img i {
  font-size: 80px;
}
.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  color: white;
  top: 350px;
}
.fa-chevron-right {
  position: absolute;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .lightbox-img img {
    width: 90vw;
  }
  .fa-chevron-right {
    position: absolute;
    right: 40px;
  }
  .lightbox-img i {
    font-size: 60px;
  }
  @media screen and (max-width: 425px) {
    .fa-chevron-right {
      position: absolute;
      right: 25px;
    }
  }
}
