body {
  color: #ff6060;
}
.container-logement {
  width: 1240px;
  height: fit-content;
  margin: 20px auto;
}

.container-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profil img {
  clip-path: circle();
  width: 64px;
}
.name {
  margin-right: 20px;
  font-size: 18px;
}
.name p {
  margin: 0 auto;
  text-align: end;
}

h2 {
  font-size: 36px;
  margin: 10px 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
.dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dropDescription,
.dropEquipement {
  width: 46%;
}
.dropDescription .text-dropdown,
.dropEquipement .text-dropdown {
  height: 250px;
}

.bloc-profil {
  display: flex;
  align-items: center;
}
.container-host {
  display: flex;
  flex-direction: column;
}
.container-stars ul {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .container-logement {
    width: 90vw;
    margin: 0 auto;
    height: fit-content;
  }
  .dropdown {
    width: 96%;
    display: flex;
  }
  .dropDescription .text-dropdown,
  .dropEquipement .text-dropdown {
    height: 400px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container-logement {
    width: 90vw;
    margin: 0 auto;
    /* height: fit-content; */
  }
  .container-infos {
    display: flex;
    flex-direction: column;
  }
  .container-host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .container-logement .dropdown {
    display: flex;
    flex-direction: column;
  }
  .dropDescription,
  .dropEquipement {
    width: 95%;
  }
  .dropDescription .text-dropdown,
  .dropEquipement .text-dropdown {
    height: fit-content;
  }
}
@media screen and (max-width: 425px) {
  .dropDescription,
  .dropEquipement {
    width: 90%;
  }
}
@media screen and (min-width: 1441px) {
  .container-logement {
    margin-top: 300px;
  }
}
