body {
  color: #ff6060;
}
.container-logement {
  position: relative;
  top: 150px;
  width: 1240px;
  height: 1000px;
  margin: 0 auto;
}

.container-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profil img {
  clip-path: circle();
  width: 64px;
}
.name {
  margin-right: 20px;
  font-size: 18px;
}
.name p {
  margin: 0 auto;
  text-align: end;
}

h2 {
  font-size: 36px;
  margin: 10px 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
.dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dropDescription,
.dropEquipement {
  width: 46%;
}

.bloc-profil {
  display: flex;
  align-items: center;
}
.container-host {
  display: flex;
  flex-direction: column;
}
.container-stars ul {
  display: flex;
  flex-direction: row;
}
