body {
  color: #ff6060;
}
.container-logement {
  position: relative;
  top: 150px;
  width: 1240px;
  height: 1000px;
  margin: 0 auto;
}

.lightbox-img img {
  object-fit: cover;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
}
.lightbox-img i {
  font-size: 80px;
}
.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  color: white;
  top: 200px;
}
.fa-chevron-right {
  right: 0;
}
/* .dropdown-menu,
.text-dropdown {
  width: 500px;
} */
.dropdown {
  width: 1240px;
  display: flex;
  justify-content: space-between;
}
.dropdown-menu:first-child,
.text-dropdown:first-child {
  width: 560px;
}
.container-infos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container-host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profil img {
  clip-path: circle();
  width: 64px;
}
.name {
  margin-right: 20px;
  font-size: 18px;
}
.name p {
  margin: 0 auto;
  text-align: end;
}

h2 {
  font-size: 36px;
  margin: 10px 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
